@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/pexels-rakicevic-nenad-769525.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;

}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

p {
    font-size: 13px;

}

.Newyear {
    font-family: 'inspiration', cursive;
    color: yellowgreen;
    font-weight: 400;
    margin-top: 30px;
}

.box {
    width: 70px;
    height: 70px;
    text-align: center;

}

.box h2 {
    font-size: 20px;
    color: whitesmoke;
}

.box small {
    font-size: 10px;
}

@media(min-width:576px) {
    .Newyear {
        font-size: 100px;
    }

    p {
        font-size: 18px;
    }

    .box h2 {
        font-size: 10px;

    }

    .box {
        width: 100px;
        height: 70px;
    }

    .box small {
        font-size: 10px;
    }
}

@media(min-width:768) {
    .Newyear {
        font-size: 150px;
    }

}

p {
    font-size: 25px;
}

.box h2 {
    font-size: 50px;
}

.box {
    width: 150px;
    height: 100px;
}

.box small {
    font-size: 20px;
}